*{
    margin: 0px;
    padding: 0px;
}
h1{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes aparecer{
  0% {  
      opacity: 0;
    }
  100% { 
      opacity: 1;
    }
}
body{
    background-color: aqua;
}
.gridcontainer{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 200px;
    grid-template-rows: 200px auto 200px;
}
header{
    grid-area: header;
    background-color: orange;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}
.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img{
    border: 2px solid blueviolet;
    height: 200px;
    width: 200px;
    
}
.img1{
    background-image: url(./img/img1.jpg);
    background-size: cover;
    background-position: center;
    transform: rotateZ(69deg);
    transition: 2.7s;
}
.img1:hover {
    width: 100px;
    height: 100px;
}
.img2{
    background-image: url(./img/img10.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateX(120deg);
    transition:  2.7s ;
}
.img2:active{
    width: 50px;
    height: 50px;

}
.img3{
    background-image: url(./img/img11.jpg);
    background-position: center;
    background-size: cover;
    transform: rotateY(120deg);
    transition: 2.7s;
}
.img3:hover{
    width: 300px;
    height: 150px;
}
.img4{
    background-image: url(./img/img2.webp);
    background-position: center;
    background-size: cover;
    transform: rotateZ(-69deg);
    transition: 2.7s;
}
.img4:hover{
    width: 150px;
    height: 150px;
}
.img5{
    background-image: url(./img/img3.jpeg);
    background-position: center;
    background-size: cover;
    transform: scale(0.7);
    transition: 2.7s;
}
.img5:hover{
    width: 150px;
    height: 150px;
}
.img6{
    background-image: url(./img/img4.jpg);
    background-position: center;
    background-size: cover;
    transform: scaleX(1.2);
    transition: 2.7s;  
}
.img6:active{
    height: 150px;
    width: 150px;
}
.img7{
    background-image: url(./img/img5.jpg);
    background-position: center;
    background-size: cover;
    transform: skew(20deg);
    transition: 1.7s;
}
.img7:hover{
    width: 150px;
    height: 150px;
}
.img8{
    background-image: url(./img/img6.jpeg);
    background-position: center;
    background-size: cover;
    transform: skewX(30deg);
    transition: 1.6s;
}   
.img8:hover{
    width: 150px;
    height: 150px;
}
.img9{
    background-image: url(./img/img7.jpg);
    background-position: center;
    background-size: cover;
    transform: skewY(10deg);
    transition: 1.5s;
}
.img9:active{
    width: 120px;
    height: 120px;
}
.img10{
    background-image: url(./img/img9.jpg);
    background-position: center;
    background-size: cover;
    transform: skewy(40deg);
    transition: 1.9s;
}
.img10:hover{
    width: 150px;
    height: 150px;
}