*{
    margin: 0px;
    padding: 0px;
}
.gridcontainer{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 200px auto 200px;
}
header{
    grid-area: header;
    background-color: orange;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
}
main{
    grid-area: main;
    background-color:aqua ;
    
}
.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img{
    border: 2px solid blueviolet;
    height: 200px;
    width: 200px;
}
.img1{
    background-image: url(./img/img1.jpg);
    background-size: cover;
    background-position: center;
   
}
.img2{
    background-image: url(./img/img10.jpg);
    background-position: center;
    background-size: cover;
}
.img3{
    background-image: url(./img/img11.jpg);
    background-position: center;
    background-size: cover;
}
.img4{
    background-image: url(./img/img2.webp);
    background-position: center;
    background-size: cover;
}
.img5{
    background-image: url(./img/img3.jpeg);
    background-position: center;
    background-size: cover;
}
.img6{
    background-image: url(./img/img4.jpg);
    background-position: center;
    background-size: cover;
}
.img7{
    background-image: url(./img/img5.jpg);
    background-position: center;
    background-size: cover;
}
.img8{
    background-image: url(./img/img6.jpeg);
    background-position: center;
    background-size: cover;
}   
.img9{
    background-image: url(./img/img7.jpg);
    background-position: center;
    background-size: cover;
}
.img10{
    background-image: url(./img/img9.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    grid-area: footer;
    background-color: blueviolet;
}
.nosotros{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}